/* :root {
    --text-color: #2d2d2d;
    --bg-color: #3cd6d2;
    --light-color: #9df2f9;
    --accent-color: #efbe22;
    /* --neutral-color: #dedede; */
    /* --dark-color: rgb(3, 42, 60);
 
} */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

header.hero {
    background-image: url('images/bg-colors2.jpg');
    background-position: bottom;
    background-size: cover;
    min-height: 85vh;
    position: relative;
}

.hero h1 {
    color: white;
    text-shadow: 5px 5px 10px rgba(0,0,0,.5);
    text-align: center;
    font-size: clamp(4rem, 10vw, 7rem);
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 3rem;
    width: 100%;
    position: fixed;
}

.headerMask {
    position: absolute;
    inset: 0;
    mask: url('images/music-solid.svg');
    mask-position: bottom;
    mask-size: cover;
    -webkit-mask: url('images/star-solid.svg');
    -webkit-mask-position: bottom;
    -webkit-mask-size: cover;
}

main {
    max-width: 800px;
    margin: 2rem auto;
}